<template>
  <div class="category category-form">
    <h2 class="crud-title">{{ crudTitle }}</h2>

    <template>
      <form
        v-on:submit.prevent>
        <v-text-field
          class="wrp-category-name"
          name="category[name]"
          label="Nome da Categoria"
          v-model="category.name"
          required
        ></v-text-field>
        <v-btn
          class="btn-cancel"
          @click="$router.push({name: 'categories'})">Voltar</v-btn>
        <v-btn
          class="btn-submit"
          @click="submit">Salvar</v-btn>
      </form>
    </template>
  </div>
</template>

<script>
import axios from 'axios';
import { store } from '@/store/store';

export default {
  data () {
    return {
      isEditing: false,
      shared: store.state,
      store: store,
      category: {
        id: undefined,
        name: '',
      },
    };
  },

  created () {
    // If we do this on the `mounted' hook, then the computed properties
    // that depend on this data try to use the data before it is available.
    this.isEditing = 'category-edit' === this.$route.name;

    if (this.isEditing) {
      this.requestFetchCategory(this.$route.params.category_id);
    }
  },

  computed: {
    crudTitle () {
      if (this.isEditing) {
        return 'Categorias - Editar';
      }
      return 'Categorias - Adicionar';
    }
  },

  methods: {
    requestFetchCategory (category_id) {
      const getPromise = axios.get(`/categories/${category_id}`);

        getPromise.then(res => {
          if (200 !== res.status) {
            console.log('Something went wrong...');
            return;
          }
          this.category = res.data;
        })
        .catch(err => {
          console.warn('Error fetching category.');
          console.warn(err);
        });
    },

    requestCreate () {
      axios.post(`/categories`, this.category)
        .then(res => {
          if (201 !== res.status) {
            this.store.displayAlertAction({
              type: 'warning',
              text: 'Erro ao inserir dados da categoria.',
            });
            return;
          }
          this.store.displayAlertAction({
            type: 'success',
            text: 'Dados da categoria inseridos com sucesso!',
          });
          this.$router.push({ name: 'categories' });
        })
        .catch(err => {
          this.store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao inserir dados da categoria.',
          });
        });
    },

    requestUpdate (category_id) {
      axios.patch(
        `/categories/${category_id}`,
        this.category
      ).then(res => {
        if (200 !== res.status) {
          this.store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao atulizar dados da categoria.',
          });
          return;
        }
        this.store.displayAlertAction({
          type: 'success',
          text: 'Dados da categoria atualizados com sucesso!',
        });
        this.$router.push({ name: 'categories' });
      })
      .catch(err => {
        console.warn('Error paching category.');
        console.error(err);
      });
    },

    submit () {
      switch (this.$route.name) {
        case 'category-new':
          this.requestCreate();
          break;
        case 'category-edit':
          this.requestUpdate(this.category.id);
          break;
        default:
          console.warn('Oops. Not creating or updating a category.');
      }
    }
  },
};
</script>
