<template>
  <div class="category category-index">
    <h2 class="crud-title">Categorias - Listagem</h2>

    <v-btn class="btn-add-category" :to="{ name: 'category-new' }">
      <v-icon>add</v-icon>
      <span>Cadastrar Categoria</span>
    </v-btn>

    <v-container grid-list-md index-of-things >
      <v-layout category-index-row index-row row wrap align-center
        v-for="(category, idx) in categories" :key="idx">
        <v-flex xs12 sm6>
          <div>
            {{ category.name }}
          </div>
        </v-flex>
        <v-flex xs12 sm6 paren>
          <v-btn class="btn-edit"
                 color="blue"
                 tag="section"
                 :to="{ name: 'category-edit', params: { category_id: category.id }}">
            <v-icon>edit</v-icon>
            <span>Editar</span>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios';
import { store } from '@/store/store';

export default {
  data () {
    return {
      shared: store.state,
      categories: [],
    };
  },

  mounted () {
    this.fetchCategories();
  },

  methods: {
    fetchCategories (path = '/categories') {
      let getPromise = axios.get(path);

      getPromise.then(res => {
        if (200 === res.status) {
          this.categories = res.data;
        }
        else {
          store.displayAlertAction({
            type: 'warning',
            text: 'Erro ao listar categorias.',
          });
        }
      }).catch(err => {
        store.displayAlertAction({
          type: 'warning',
          text: 'Erro ao listar categorias.',
        });
      });

      return getPromise;
    }
  }
};
</script>
