<template>
  <v-app>

    <v-navigation-drawer
      app
      clipped
      fixed
      v-model="drawer">

      <v-list class="main-navigation-drawer">
        <template for v-for="(item, idx) of sidebarItems">

          <v-layout :key="idx" row>
            <v-flex xs12>

                <v-list-tile :to="item.route">
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ item.text }}
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>

            </v-flex>

          </v-layout>

        </template>
      </v-list>

    </v-navigation-drawer>


    <v-toolbar
      color="orange darken-3"
      dark
      app
      clipped-left
      fixed>

      <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-xs-only">VBS ERP</span>
      </v-toolbar-title>

      <div class="d-flex align-center" style="margin-left: auto">
        <v-btn icon>
          <v-icon>apps</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>notifications</v-icon>
        </v-btn>


        <v-menu
          transition="scale-transition"
          origin="top right"
          offset-y
          min-width="280px">
          <v-btn icon large slot="activator">
            <v-icon>person</v-icon>
          </v-btn>
          <v-form action="/logout" method="post" class="white">
            <input type="hidden" name="_token" v-bind:value="csrfToken">

            <v-container grid-list-md>
              <v-layout row justify-space-between>
                <v-flex><strong>{{ userDetails.name }}</strong></v-flex>
              </v-layout>
              <v-layout row justify-space-between>
                <v-flex>{{ userDetails.email }}</v-flex>
              </v-layout>
            </v-container>

            <v-btn type="submit" block>
              <v-layout row justify-space-between>
                <span>Sair</span>
                <v-icon>exit_to_app</v-icon>
              </v-layout>
            </v-btn>
            <v-btn type="button" to="/account-settings" block>
              <v-layout row justify-space-between>
                <span>Configurações de Usuário</span>
                <v-icon>settings</v-icon>
              </v-layout>
            </v-btn>
          </v-form>
        </v-menu>


      </div>

    </v-toolbar>


    <v-content>

      <v-container>

        <v-alert
          dismissible
          :type="shared.alert.type"
          v-model="shared.alert.display"
          transition="scale-transition">
          <div class="text" v-html="shared.alert.text"></div>
        </v-alert>

        <router-view></router-view>

      </v-container>

    </v-content>


    <v-footer app class="app-footer pa-3">
      <div class="text-xs-center d-block developer">
        Desenvolvido por
        <img
          class="squares-vbsmidia"
          src="dist/imgs/vbsmidia-squares-small-orange.png"
          alt="logo vbsmídia small">
        VBS Mídia
        - &copy; {{ new Date().getFullYear() }}
        </div>
    </v-footer>

    <!--
      Shows/hides according to instructions sent through the bus from other components.
    -->
    <v-dialog class="sysmsg js-sysmsg" v-model="shared.sysmsg.display" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline headline" v-html="shared.sysmsg.heading"></span>
        </v-card-title>
        <v-card-text>
          <div class="text" v-html="shared.sysmsg.text"></div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            flat
            class="btn-close"
            color="primary"
            @click="store.setSysmsgDisplayAction(false)">Fechar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-app>
</template>

<script>
import axios from 'axios';
import { store } from './store/store';

export default {
  data () {
    return {
      store: store,
      shared: store.state,
      csrfToken: null,
      userDetails: {},
      drawer: true,
      sidebarItems: [
        { route: '/categories', text: 'Categorias', icon: 'list' },
        // gavel, check_circle, class
        { route: '/statuses', text: 'Status', icon: 'class' },
        { route: '/people', text: 'Pessoas', icon: 'person' },
        { route: '/addresses', text: 'Endereços', icon: 'local_offer' },
        { route: '/associates', text: 'Associados', icon: 'person' },
        { route: '/contact', text: 'Contatos', icon: 'contacts' }
      ],
    };
  },

  mounted () {
    if (null !== document.querySelector('#csrf-token')) {
      this.csrfToken = document.querySelector('#csrf-token').getAttribute('content');
    }

    this.fetchUserDetails();
  },

  methods: {
    fetchUserDetails () {
      axios.get('/user/details')
        .then(res => {
          if ('OK' !== res.statusText) {
            return;
          }
          this.userDetails = res.data;
        }).catch(err => {
          error('App.vue fetchUserDetails()', err);
        });
    },
  },

  watch: {
    '$route': function (from, to) {
      this.fetchUserDetails();
    },
  },
};
</script>

<style lang="scss">

.main-navigation-drawer a {
  text-decoration: none;
}

// All index pages have a container with class `index-of-things'
// and each row has the class `index-row'.
.index-of-things {
  .index-row {
    border-bottom: 1px solid lightgray;
  }
}

.app-footer {
  justify-content: center;

  .developer {
    line-height: 24px; // Same as squares logo vbsmídia.
    img {
      vertical-align: middle;
      height: 18px;
    }
  }
}
</style>
